<div style="white-space:pre;border:530px solid rgb(62, 90, 150);margin:5px;padding:5px;font-family:'Times New Roman', Times, serif;">
Hojjat is here.
    <!-- App:
    
    <%=JSON.stringify(app, null, 2)%>
    
    Schema:
    
    <%=schema%>
    
    Utterances:
    
    <%=utterances%> -->
    
    </div>